<!--File Name: bottom_nav.ejs
    Student's Name: Glenn Tavas
    Student ID: 300866177
    Due Date: 10/02/2023
-->


<link rel="stylesheet" type="text/css" href="/styles/styles.css">
<footer>
  
      <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <center>
   
    <p>&copy;2023 Glenn Tavas #300866177 COMP 229 Section 10 Assignment #1</p>
    </div>
  </center>
    </nav>
  
  </footer> 

