/* 
   File Name: styles.css
   Student's Name: Glenn Tavas
   Student ID: 300866177
   Due Date: 10/02/2023
*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 80%; /* Set the maximum width to 80% of the screen */
    margin: 0 auto; /* Center the <main> horizontally on the page */
}

footer {
    height: 4px;
    text-align: center;
}

#center-text {
    text-align: center;
    
}

/* Apply styling for a dark navbar */
.navbar-dark {
    background-color: #343a40; /* Dark background color */
    color: #ffffff; /* Text color */
    text-align: center;
}

/* Apply additional styles for a fixed bottom navbar */
.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px; /* Adjust the height as desired */
    text-align: center;
}

/* Add styles to the PDF resume link */
a {
    color: #ed9c9c; /* Link color */
    text-decoration: none; /* Remove underlines */
    font-weight: bold; /* Bold text */
    /* Add more styling as needed */
}

/* Change the link color on hover */
a:hover {
    color: #ed9c9c; /* Hover color */
    /* Add more hover effects as needed */
}
