<!--File Name: index.ejs
    Student's Name: Glenn Tavas
    Student ID: 300866177
    Due Date: 10/02/2023
-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo" height:100px width: 100px>-->
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    
<main class="ontainer">
<div class="jumbotron">

    <h1>Welcome</h1><br>
    <p>Hello there! Welcome to my portfolio website.<br>
    Thank you for visiting!</p><br>
    <h2>Mission Statement</h2><br>
    <p>My journey into the world of Health Informatics began with a single question - how can technology transform the way we care for our health? I'm on a mission to unlock the potential of healthcare innovation, and I invite you to join me on this exciting journey.      
        Although I intend to specialize in healthcare applications, at its core I am a student of Software Engineering. This portfolio is a showcase of some of my previous work in my academic career, so far. I invite you to take a few minutes to browse through some of my previous projects.
    </p><br>
    <img src="/img/healthinformatics.jpeg" alt="healthinformatics" width=500px;><br>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   