<!--File Name: products.ejs
    Student's Name: Glenn Tavas
    Student ID: 300866177
    Due Date: 10/02/2023
-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
<main class="ontainer">
<div class="jumbotron">

    <h1>Projects</h1><br>
    <h2>BONK-A-BEAR video game</h2>
    <p>In Visual Studio Code I used HTML, CSS, and JavaScript to create a simple video game. The goal of the game is to click on the bear as many times as you can to get a high score.
        <br>The bear appears randomly in one of the nine holes. Every time the bear is clicked, the speed of the game increases and becomes more difficult.</p><br>
    <img src="/img/bonkabear.png" alt="bonk a bear" height=840px;><br><br><br>
    <h2>ONTARIO PREMIERS GUI application</h2>
    <p>In Visual Studio, I created a Windows Forms application displaying an interactive application showcasing the current and previous Premiers of Ontario,
        <br>including a photo, their birth information and their term in office as Premier.</p><br>
    <img src="/img/premiers.png" alt="premiers" height=480px;><br><br><br>
    <h2>BASEBALL STATISTICS SQL database</h2>
    <p>In Oracle SQL Developer, I built a comprehensive database of Major League Baseball statistics from the 2022 season, as part of a group project with classmates.<br>Below is the Entity-Relationship Diagram.</p><br>
    <img src="/img/baseball.png" alt="baseball" height=380px;>
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   