<!--File Name: services.ejs
    Student's Name: Glenn Tavas
    Student ID: 300866177
    Due Date: 10/02/2023
-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
<main class="ontainer">
<div class="jumbotron">

    <h1>Services</h1>
    <h5>Here are some examples of services I have to offer:</h5><br>
    <ul>
        <li>General Programming</li>
        <li>Web Development</li>
        <li>Mobile Apps</li>
        <li>Database Maintenance</li>
        <li>IT Solutions</li>
        <li>Software Design</li>
    </ul><br>

    <img src="/img/services.png" alt="services" width=500px;><br><br>
    <img src="/img/computer.png" alt="computer" width=400px;><br>
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   